[submodule "gcc49"]
	path = gcc49
	url = git+ssh://aur@aur.archlinux.org/gcc49.git
[submodule "qtermwidget"]
	path = qtermwidget
	url = git+ssh://aur@aur.archlinux.org/qtermwidget
[submodule "clfft"]
	path = clfft
	url = git+ssh://aur@aur.archlinux.org/clfft.git
[submodule "clfft-git"]
	path = clfft-git
	url = git+ssh://aur@aur.archlinux.org/clfft-git.git
[submodule "stack-client-bin"]
	path = stack-client-bin
	url = git+ssh://aur@aur.archlinux.org/stack-client-bin.git
[submodule "mali-midgard-dkms"]
	path = mali-midgard-dkms
	url = ./mali-midgard-dkms/
